*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: red;
}
.primary-navigation {
    
      text-align: center;
      font-size: 30px;
}
  
      ul li {
        list-style: none;
        
        border-left: 2px solid #000;
        display: inline-block;
        padding: 0 30px;
        position: relative;
        text-align: center;
       
      }
  
      li a {
        color: black;
        text-decoration: none;
      }
  
      li a:hover {
        color: #fff;
      }
  
      li:hover {
        cursor: pointer;
      }
  
      ul li ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        padding-left: 0;
        left: 0;
        display: none;
        background: white;
      }
  
      ul li:hover > ul,
      ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
        min-width: 250px;
        text-align: left;
        padding-top: 20px;
       box-shadow: 10px 15px 20px rgba(0,0,0,0.4);
      }
  
      ul li ul li {
        
        text-align: left;
        margin-bottom: 20px;
        border-style: none;
      }
  
      ul li ul li a:hover {
        padding-left: 10px;
        border-left: 2px solid #3ca0e7;
        transition: all 0.3s ease;
        color: #000;
      }
   
  
  a {
    text-decoration: none;
  }
  
  ul li ul li a { transition: all 0.5s ease; }
  
  